
<div class="parallax"></div>
        <div id="header_text">
            <div1>
                <h1>TRISTAN SOUTHWELL</h1>
                <h2>I <3 comic sans</h2>
            </div>

        </div>
        <div style="height:100px;font-size:36px"></div>

        <div id="page1"></div>

        <div id="portfolio">
            <div class="middle">
                <h1>COOL STUFF I HAVE DONE</h1>
            </div>
            <div class="row">
                <% 6.times do %>
                <div class="col-m-4 col-sm-6">
                    <div class="thumbnail">
                        <img src="http://placehold.it/242x200/333333/999999" class="img-responsive center-block" alt="placeholder">
                    </div>
                </div>

                <% end %>
            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
