
@media (max-width: 500px) {
 .aboutme h1, h3, p {
   text-align: center;
 }

 .bottom {
   text-align: center;
 }

 .background h1 {
   text-align: center;
 }

 .aboutmecolor {
   height: 1250px;

  // display: flex;
  // flex-direction: column;
 }

 // .flexpic {
 //  flex: 1 0 100%;
 // }
 //
 // .flexwords {
 //  flex: 1 1 100%;
 // }

 }
