// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
   background: url(http://polygonblog.com.www32.zoner-asiakas.fi/wp-content/uploads/2010/05/underwater.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
 }
 #header_text {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%) translateY(-50%);
   overflow:hidden;
   white-space: nowrap;
   font-family: "comic sans ms";
   }

   div1 {
     text-align: center;
     font-size: 70px;
   }

   h2 {
     text-align: center;
   }

   .parallax {
       /* The image used */
       background-image: url(http://polygonblog.com.www32.zoner-asiakas.fi/wp-content/uploads/2010/05/underwater.jpg);

       /* Set a specific height */
       min-height: 700px;

       /* Create the parallax scrolling effect */
       background-attachment: fixed;
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
   }
.aboutme {
  height: 100vh;
  width: 100%;
  min-height: 100%;
  padding-top: 10px;
}

.middle h1 {
  padding-bottom: 100px;
  text-align: center;
  font-family: bree-serif;
  font-style: "bold";
}
