<style>
    body {
      background-color: #C2F1FB;
    }
</style>

<div class="formfields">
  <div class="formfont">
    <h1>New Enquiry</h1>
    <br>
  </div>
<%= render 'form', enquiry: @enquiry %>
</div>

<!-- <div class="row">
  <div class="col-md-6 col-md-offset-3">
    content here
  </div>
</div> -->
